<a href="https://colab.research.google.com/github/danishanis/Salary_Prediction_Portfolio/blob/master/SalaryPredictionProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Salary Predictions Based on Job Descriptions

**Author - Danish Anis**

**Contact - danishanis10@hotmail.com**

# Part 1 - DEFINE

### ---- 1 Define the problem ----

Predicting the salary for a job position is crucial for a business' HR & talent function for optimizing compensation strategy and talent retention in a highly competetive labour market. The aim of this project is to build a salary prediction model for existing and future job seekers by examining an existing dataset of job postings.

The analysis is aimed at explaining every step of the process from defining the problem, discovering dataset, developing model and deploying into production. The model applies data transformation and machine learning on features such as work experience, Job Type, Majors, Industry Type, Degree and Miles from metropolis. The final aim is to predict salary for a job posting based on these available features.

The dataset includes available features or labelled columns for analysis as follows:


*   **Job ID/jobId** : Given Job ID for the role 
*   **Company ID** : Company ID for the respective Job ID advertised
*   **Degree** : Applicant's qualification/degree 
*   **Major** : Degree Specialization 
*   **Industry** : Job ID's categorized industry such as Oil, Auto, Health, Finance etc.
*   **Experience (Years)** : Requried Experience for the role
*   **Miles from Metropolis** : Distance of the job location in miles from the nearest metropolitan city
*   **salary** : In x1000 dollars of the respective Job ID

In [0]:
#import your libraries
import numpy as np
import pandas as pd
import matplotlib as matplot
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

# Part 2 - DISCOVER

### ---- 2 Load the data ----

In [0]:
#loading data into a pandas dataframe

url1 = 'https://raw.githubusercontent.com/danishanis/Salary_Prediction_Portfolio/master/train_features.csv'
train_features_df = pd.read_csv(url1)

url2 = 'https://raw.githubusercontent.com/danishanis/Salary_Prediction_Portfolio/master/test_features.csv'
test_features_df = pd.read_csv(url2)

url3 = 'https://raw.githubusercontent.com/danishanis/Salary_Prediction_Portfolio/master/train_salaries.csv'
train_salaries_df = pd.read_csv(url3)

### ---- 3 Clean the data ----

In [0]:
#Renaming columns for ease of exploration

train_features_df.rename(columns={'jobId':'Job ID', 'companyId':'Company ID', 
                                  'jobType':'Job Type','degree':'Degree','major':'Major',
                                  'industry':'Industry','yearsExperience':'Experience (Years)',
                                 'milesFromMetropolis':'Miles from Metropolis'}, inplace = True)

test_features_df.rename(columns={'jobId':'Job ID', 'companyId':'Company ID', 
                                  'jobType':'Job Type','degree':'Degree','major':'Major',
                                  'industry':'Industry','yearsExperience':'Experience (Years)',
                                 'milesFromMetropolis':'Miles from Metropolis'}, inplace = True)

train_salaries_df.rename(columns={'jobId':'Job ID','salary':'Salary'}, inplace = True)

###Verifying that the data is loaded alright by looking at its length, shape and checking values.

In [4]:
train_features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
Job ID                   1000000 non-null object
Company ID               1000000 non-null object
Job Type                 1000000 non-null object
Degree                   1000000 non-null object
Major                    1000000 non-null object
Industry                 1000000 non-null object
Experience (Years)       1000000 non-null int64
Miles from Metropolis    1000000 non-null int64
dtypes: int64(2), object(6)
memory usage: 61.0+ MB

In [5]:
print(train_features_df.shape)
print(test_features_df.shape)
print(train_salaries_df.shape)

(1000000, 8)
(1000000, 8)
(1000000, 2)

Both train and test datasets have the same lengths and data types

In [6]:
train_features_df.head()

             Job ID Company ID  ... Experience (Years) Miles from Metropolis
0  JOB1362684407687     COMP37  ...                 10                    83
1  JOB1362684407688     COMP19  ...                  3                    73
2  JOB1362684407689     COMP52  ...                 10                    38
3  JOB1362684407690     COMP38  ...                  8                    17
4  JOB1362684407691      COMP7  ...                  8                    16

[5 rows x 8 columns]

In [7]:
train_salaries_df.head()

             Job ID  Salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

In [8]:
train_salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
Job ID    1000000 non-null object
Salary    1000000 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.3+ MB

The dataset 'train_salaries_df' has our dependent target variable, Salary info (to be predicted) along with the Job ID. This is the same Job ID as we have in the previous training and testing datasets. Therefore, train_salaries_df is better to be used for testing the built model for its accuracy.

For the sake of ease, the Job ID column in target set shall be merged with the training set later.

###Cleaning dataset by checking for and removing any missing values.

In [9]:
train_features_df.isnull().sum()

Job ID                   0
Company ID               0
Job Type                 0
Degree                   0
Major                    0
Industry                 0
Experience (Years)       0
Miles from Metropolis    0
dtype: int64

In [10]:
train_features_df.isnull().sum()

Job ID                   0
Company ID               0
Job Type                 0
Degree                   0
Major                    0
Industry                 0
Experience (Years)       0
Miles from Metropolis    0
dtype: int64

In [0]:
#look for duplicate data, invalid data (e.g. salaries <=0), or corrupt data and remove it

### ---- 4 Explore the data (EDA) ----

In [0]:
#summarize each feature variable
#summarize the target variable
#look for correlation between each feature and the target
#look for correlation between features

### ---- 5 Establish a baseline ----

In [0]:
#select a reasonable metric (MSE in this case)
#create an extremely simple model and measure its efficacy
#e.g. use "average salary" for each industry as your model and then measure MSE
#during 5-fold cross-validation

### ---- 6 Hypothesize solution ----

In [0]:
#brainstorm 3 models that you think may improve results over the baseline model based
#on your

Brainstorm 3 models that you think may improve results over the baseline model based on your EDA and explain why they're reasonable solutions here.

Also write down any new features that you think you should try adding to the model based on your EDA, e.g. interaction variables, summary statistics for each group, etc

# Part 3 - DEVELOP

You will cycle through creating features, tuning models, and training/validing models (steps 7-9) until you've reached your efficacy goal

#### Your metric will be MSE and your goal is:
 - <360 for entry-level data science roles
 - <320 for senior data science roles

### ---- 7 Engineer features  ----

In [0]:
#make sure that data is ready for modeling
#create any new features needed to potentially enhance model

### ---- 8 Create models ----

In [0]:
#create and tune the models that you brainstormed during part 2

### ---- 9 Test models ----

In [0]:
#do 5-fold cross validation on models and measure MSE

### ---- 10 Select best model  ----

In [0]:
#select the model with the lowest error as your "prodcuction" model

# Part 4 - DEPLOY

### ---- 11 Automate pipeline ----

In [0]:
#write script that trains model on entire training set, saves model to disk,
#and scores the "test" dataset

### ---- 12 Deploy solution ----

In [0]:
#save your prediction to a csv file or optionally save them as a table in a SQL database
#additionally, you want to save a visualization and summary of your prediction and feature importances
#these visualizations and summaries will be extremely useful to business stakeholders

### ---- 13 Measure efficacy ----

We'll skip this step since we don't have the outcomes for the test data